[submodule "vendor/magit"]
	path = vendor/magit
	url = git://gitorious.org/magit/mainline.git
[submodule "vendor/anything-config"]
	path = vendor/anything-config
	url = git://repo.or.cz/anything-config.git
[submodule "vendor/remember"]
	path = vendor/remember
	url = git://repo.or.cz/remember-el.git
[submodule "vendor/evil"]
	path = vendor/evil
	url = git://gitorious.org/evil/evil.git
[submodule "vendor/mark-multiple"]
	path = vendor/mark-multiple
	url = https://github.com/magnars/mark-multiple.el.git
[submodule "vendor/expand-region"]
	path = vendor/expand-region
	url = https://github.com/magnars/expand-region.el
[submodule "vendor/clojure-mode"]
	path = vendor/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "vendor/nrepl"]
	path = vendor/nrepl
	url = git@github.com:kingtim/nrepl.el.git
[submodule "vendor/ac-nrepl"]
	path = vendor/ac-nrepl
	url = git@github.com:purcell/ac-nrepl.git
[submodule "vendor/emacs-color-theme-solarized"]
	path = vendor/emacs-color-theme-solarized
	url = git@github.com:sellout/emacs-color-theme-solarized.git
[submodule "vendor/dash-at-point"]
	path = vendor/dash-at-point
	url = git@github.com:stanaka/dash-at-point.git
